#Central file for all aliases (no matter what shell I use)

# ls
alias ll='ls -alhF'
alias la='ls -A'
alias l='ls -CF'

# shred
alias shred='shred -n 100 -z -v'

# docker
alias down='docker-compose down'
alias up='docker-compose up -d'

# k8s
alias k='kubectl'
alias pods='kubectl get pod -o=custom-columns=NODE:.spec.nodeName,NAME:.metadata.name --all-namespaces | tail -n +2 | sort'
alias getdashtoken='kubectl -n kubernetes-dashboard get secret $(kubectl -n kubernetes-dashboard get sa/admin-user -o jsonpath="{.secrets[0].name}") -o go-template="{{.data.token | base64decode}}"'

# Funny docker stuff
alias run='docker run --rm -it'
alias tools='docker run --rm -it hannesknutsson/tools'
alias tools-fat='docker run --rm -it debian:stable-slim bash -c "apt update -y && apt install -y sudo git curl && git clone https://github.com/hannesknutsson/MyConfigs && cd MyConfigs && ln -snf /usr/share/zoneinfo/$(curl https://ipapi.co/timezone) /etc/localtime && ./run_this.bash cli && cd && source .generic_profile && echo -e \n\n\n && zsh"'

alias cat=batcat
